    .first-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 600px;
    width: 150%;
    background-color: #f2f2f2;
    margin-top: 20px;
    border-radius: 4px
  }
  
  .user-details {
    margin-bottom: 30px;
  }
  
  .user-details h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
  
  .notifications {
    margin-bottom: 30px;
  }
  
  .notifications h2 {
    color: blue;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .menu h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: black;
  }
  
  .menu-item {
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .menu-item.active {
    color: blue;
  }
  
  .sub-menu {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .sub-menu-item {
    font-size: 1rem;
    color: black;
    cursor: pointer;
    margin-bottom: 5px;
  }
  